.chatItem {
  height: 50px;
  border-bottom: 1px solid rgb(202, 201, 201);
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.chatItem_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatItem_user{
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: 85%;
}
.chatItem_user_name{
  white-space: nowrap;
  overflow: hidden;
}


.chatItem:hover {
  background-color: lightblue;
}

.chats-newMessage {
  background-color: rgb(197, 220, 228);
}

.chatItem-cant {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(94, 143, 233);
  color: #fff;
  border-radius: 50%;
}

.chatItem-figure {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: rgb(156, 156, 214);
}

.imgAvatar{
  width: 40px;
}

.notImgAvatar{
  width: 30px;
}
