.input{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
  /* background: #f0f0f0; */
}


.input-container{
  width: 90%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.input-container,
.input-container button{
  border-radius: 18px;
}

.input-container,
.input-container textarea,
.input-container button{
  background-color: #fff;
  font-size: 16px;
  border: none;
}



.input-container textarea{
  outline: none;
  resize: none;
  height: 20px;
  max-height: 200px;
  width: 100%;
  padding: 0 12px;
  margin: 5px 0;
  color: black;
}

.input-container button{
  width: 100px;
  color: black;
  height: 30px;
  border-top-right-radius: 0;
  align-self:flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container button img{
  width: 20px;
}

.input-container button:hover{
  background-color: rgb(191, 198, 216);
}

.input-imagenLoad{
  width: 30px;
  margin: 2px 5px;
  display:flex;
  justify-content:center;
  align-self: flex-end;
  align-self: center;
  cursor: pointer;
}

.input-imagenLoad label{
  width: inherit;
  display: flex;
  align-self:flex-end;
  cursor: pointer;
}

.input-imagenLoad input{
  display: none;
}

.input-imagenLoad img{
  width: inherit;
}

.input-image{
  width: 100%;
  overflow-y: scroll;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid yellow; */

}

.input-image_figure{
  /* border: 1px solid red; */
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-image_figure img{
  max-width: 250px;
  max-height: 70vh;
}

.input-image_close{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid green */
}
.input-image_close_button{
  /* width: 25px; */
  cursor: pointer;
  position: absolute;
  right: 18px;
}
.input-image_close_button img{
  width: 20px;
}
