.input{
  width: 100%;
  /* height: 100%; */
  /* max-height: 90vh; */
  /* max-height: calc(var(--vh, 1vh)*100); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
  /* background: #f0f0f0; */
}

.input-text{
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.input-container{
  width: 90%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.input-container,
.input-container button{
  border-radius: 18px;
}

.input-container,
.input-container textarea,
.input-container button{
  background-color: #fff;
  font-size: 16px;
  border: none;
}



.input-container textarea{
  outline: none;
  resize: none;
  height: 20px;
  max-height: 200px;
  width: 100%;
  padding: 0 12px;
  margin: 5px 0;
  color: black;
}

.input-container button{
  width: 100px;
  color: black;
  height: 30px;
  border-top-right-radius: 0;
  align-self:flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container button img{
  width: 20px;
}

.input-container button:hover{
  background-color: rgb(191, 198, 216);
}

.input-imagenLoad{
  width: 30px;
  margin: 2px 5px;
  display:flex;
  justify-content:center;
  align-self: flex-end;
  align-self: center;
  cursor: pointer;
}

.input-imagenLoad label{
  width: inherit;
  display: flex;
  align-self:flex-end;
  cursor: pointer;
}

.input-imagenLoad input{
  display: none;
}

.input-imagenLoad img{
  width: inherit;
}

.input-image{
  width: 100%;
  overflow-y: hidden;

  position: relative;
  top:0;

  display: flex;
  justify-content: center;
  align-items: center;

}

.input-image_figure{
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-image_figure img{
  max-width: 90%;
  max-height: calc(var(--vh, 1vh)*70);
  /* height: inherit; */
  /* max-height: 70%; */
}

.input-image_close{
  position: absolute;
  right: 10px;
  top: 10px;

}
.input-image_close_button{
  cursor: pointer;
  
}
.input-image_close_button img{
  width: 20px;
}

@media (max-width: 600px) {
.input-image_figure img{
  max-width: 90%;
  max-height: calc(var(--vh, 1vh)*50);
  /* height: inherit; */
  /* max-height: 70%; */
}
}